/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  width: 100%;
  line-height: inherit;
  max-width: 1440px;
  padding-inline: 20px;
  margin-inline: auto;
}

@media (min-width: 760px) {
  body {
    padding-inline: 70px;
  }
}

@media (min-width: 1200px) {
  body {
    padding-inline: 120px;
  }
}

.cd {
  background-image: url('../img/cd/cdAll.png');
  background-size: cover;
  cursor: pointer;
  animation: rotate-cd 8s 1 cubic-bezier(0.65, 0.05, 0.36, 1);
}

.cd:hover {
  animation-play-state: paused;
}

.cd:hover {
  animation-play-state: paused;
}

@keyframes rotate-cd {
  0% {
    transform: rotate(0deg);
    background-image: url('../img/cd/cdAll.png');
  }
  10% {
    transform: rotate(0deg);
    background-image: url('../img/cd/cdAll.png');
  }
  20% {
    transform: rotate(5000deg);
    background-image: url('../img/cd/cdRE4.png');
  }
  30% {
    transform: rotate(5000deg);
    background-image: url('../img/cd/cdRE4.png');
  }
  40% {
    transform: rotate(0deg);
    background-image: url('../img/cd/cdSF6.png');
  }
  50% {
    transform: rotate(0deg);
    background-image: url('../img/cd/cdSF6.png');
  }
  60% {
    transform: rotate(5000deg);
    background-image: url('../img/cd/cdMonsterHunter.png');
  }
  70% {
    transform: rotate(5000deg);
    background-image: url('../img/cd/cdMonsterHunter.png');
  }
  80% {
    transform: rotate(0deg);
    background-image: url('../img/cd/cdDMC.png');
  }
  90% {
    transform: rotate(0deg);
    background-image: url('../img/cd/cdDMC.png');
  }
  100% {
    transform: rotate(720deg);
    background-image: url('../img/cd/cdAll.png');
  }
}

@layer components {
  .btn {
    @apply bg-capcomBlue text-capcomWhite text-center font-bold py-2 px-4 rounded transition-transform hover:scale-105 focus:scale-105;
  }

  .btn--border {
    @apply border-2 bg-capcomYellow border-capcomBlue text-capcomBlue;
  }

  .btn--border--alt {
    @apply border-2 bg-capcomRed border-capcomWhite text-capcomBlue;
  }

  .btn--icon {
    @apply btn btn--border rounded-full h-[40px] w-[40px] flex justify-center items-center hover:scale-105 focus:scale-105 transition-transform p-0;
  }

  .link {
    @apply text-capcomBlue font-semibold hover:underline focus:underline;
  }
}
